%h2.heading-green
  How to Learn Javascript - A Short Course Outline

%h3#basics
  Basics
%ol
  %li
    Variable Declaration
    = link_to("Variable Declaration", "http://www.google.com/search?q=Javascript+Variable+Declaration", :target => "_blank")
  %li
    Local Variables vs Global Variables
    = link_to("Local variables", "http://www.google.com/search?q=Javascript+Local+Variables", :target => "_blank")
    = link_to("Global variables", "http://www.google.com/search?q=Javascript+Global+Variables", :target => "_blank")
  %li
    If Conditions
    = link_to("If Conditions", "http://www.google.com/search?q=Javascript+If+Conditions", :target => "_blank")
  %li
    Looping
    = link_to("Looping", "http://www.google.com/search?q=Javascript+Looping", :target => "_blank")
%h3#foundation-1
  Foundation I
%ol
  %li
    Anonymous Functions (Closely Related to Closures)
    = link_to("Anonymous Functions", "http://www.google.com/search?q=Javascript+Anonymous+Functions", :target => "_blank")
  %li
    Closures (Closely Related to Anonymous Functions)
    = link_to("Closures", "http://www.google.com/search?q=Javascript+Closures", :target => "_blank")
  %li
    Prototype-Based Inheritance
    = link_to("Prototype-Based Inheritance", "http://www.google.com/search?q=Javascript+Prototype+Based+Inheritance", :target => "_blank")
  %li
    Object Model
    = link_to("Object Model", "http://www.google.com/search?q=Javascript+Object+Model", :target => "_blank")
%h3#foundation-2 Foundation II
%ol
  %li
    Classes
    = link_to("Classes", "http://www.google.com/search?q=Javascript+Classes", :target => "_blank")
  %li
    Inheritance
    = link_to("Inheritance", "http://www.google.com/search?q=Javascript+Inheritance", :target => "_blank")
  %li
    Module Pattern
    = link_to("Module Pattern", "http://www.google.com/search?q=Javascript+Module+Pattern", :target => "_blank")
%h3#web-development
  Web Development Concepts
%ol
  %li
    Events
    = link_to("Events", "http://www.google.com/search?q=Javascript+Events", :target => "_blank")
  %li
    Effects
    = link_to("Effects", "http://www.google.com/search?q=Javascript+Effects", :target => "_blank")  
  %li
    Ajax
    = link_to("Ajax", "http://www.google.com/search?q=Javascript+Ajax", :target => "_blank")  
  %li
    Plotting
    = link_to("Plotting", "http://www.google.com/search?q=Javascript+Plotting", :target => "_blank")  

%h2.heading-green
  Why the Above Course Outline?

Javascript is quite different from other languages like Ruby, Java, C++ etc. Getting comfortable with javascript involves 3 key steps, followed by learning javascript for web development:
%ol
  %li
    Knowing javascript syntactic details, much like getting the syntax in other languages. This is covered in the
    = link_to("Basics", "#basics")
    section.
  %li
    Knowing certain key concepts that are part of javascript, but are not part of other classic languages most developers are familiar with. This takes some getting used to. They are covered in the
    = link_to("Foundation I", "#foundation-1")
    section.
  %li
    Once you are comfortable with javascript syntax and key concepts, you need to implement familiar concepts that you learned in other languages. The following are widespread patterns and concepts in other languages, and typically we program using these familiar patterns/concepts:
    %ul
      %li Classes
      %li Inheritance
      %li Modules
    So the next step to learning javascript is to learn how to implement the above key concepts in javascript. This is covered in
    = link_to("Foundation II", "#foundation-2")
    section.
  %li
    One typically learns javascript for client-side programming. Roughly speaking, javascript is great for events, effects, plotting, and ajax among other things. Typically when one begins web development, one spends time learning only the Basics, followed by getting familiar with the concepts in the
    = link_to("Web Development", "#web-development")
    section. Therefore the final part of learning javascript is to learn how it is used for client side programming. This is covered in
    = link_to("Web Development Concepts", "#web-development")
    section.
